#lights {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
